.content {
    width: 100%;
    height: 100%;
    background-color: var(--light);
    padding: 6px 16px;
    overflow: auto;
    padding-bottom: 120px;

}

.boxes {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}


.mySwiper {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_slide {
    width: 100%;
    padding: 16px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_slide div {
    display: block;
    margin: auto;
}


.tables {
    display: flex;
    width: 100%;

    gap: 16px;

    justify-content: space-around;
    padding: 10px;

}
.table_one , .table_two {
    width: 50%;
    height:318px;
}

.tables .table {
    background-color: #fff !important;
}

.charts {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row-reverse;
    gap: 16px;
    justify-content: space-around;
    padding: 10px;
}

.chart_one , .chart_two {
    height:318px;
}

.chart_two{
    width:60%;
}
.chart_one{
    width: 40%;
}



/* 
    for  large screens
*/
@media  (max-width: 992px) {
    .tables {
        flex-wrap: wrap;
        width: 100%;
    }
    .table_one , .table_two {
        width: 100%;
        margin-bottom: 32px;
    }
    .charts {
        flex-wrap: wrap;
      
    }
    .chart_one , .chart_two {
        width: 100%;
        margin-bottom: 32px;
    }
    
}


