.content{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    padding: 6px 0px;
    overflow: auto;
    padding-bottom: 82px;
}

.actions{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.actions button{
    background-color: var(--primary) !important;
    font-weight: 600;
}

@media (max-width:480px) {
    .actions{
        flex-wrap: wrap;

    }
}