.parent{
    height: 100%;
    min-width: 240px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

@media (max-width: 1200px) {
    .parent{

        min-width: 0px;
    
    }
}

.DrawerHeader svg{
    fill: var(--primary) !important;
}
