.box {
    min-width: 300px;
    max-width: 320px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.362);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.box:hover .title,
.box:hover .icon {
    color: var(--primary) !important;
}

.title {
    color: var(--secondary) !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.icon {
    padding: 8px 0;
    font-size: 40px !important;
    display: flex;
    justify-content: space-between;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.icon span:first-child {
    padding: 0;
    font-size: 50px;
}

.icon span:last-child {
    padding-top: 10px;
    font-weight: 600;
}