.header{
    width: 100%;
    padding: 16px 32px;
    color: var(--secondary);
    display: flex;
    align-items: center;
    font-weight: 600;
}



@media (max-width:700px) {
    .header{
        width: 100%;
        padding: 12px 8px;
        color: var(--secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }
}