.container {
    width: 100%;
    height: 100%;
    background-color: var(--light);
    display: flex;
    justify-content: space-between;

}

.parent {
    width: 100%;
    height: 100%;
    background-color: var(--light);
}



.left {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.left div h1 {
    font-weight: 800;
    font-size: 62px;
    color: var(--primary);
}

.left div h1 span{
    font-weight: 800;
    font-size: 50px;
    color: var(--primary);
}

.left div p {
    font-weight: 600;
    font-size: 20px;
    color: var(--dark);
    min-width: 80%;
    
}



.right {
    color: var(--primary);
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}



.right .form-container {
    background-color: #fff;
    box-shadow: 0 0 12px #1c1c1c39;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 32px 16px;

    padding-bottom: 16px;
}


.right .form-container a {
    color: var(--secondary);
    text-transform: none;
    text-decoration: none;
    padding-top: 16px;
    font-size: 18px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}



.right .form-container a:hover {
    color: var(--primary);

}

.right .form-container form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

@media (max-width:992px) {

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .left div {
        max-width: 100%;
        min-width: 260px-;
        display: flex;
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

    .left div h1 {
        font-weight: 800;
        font-size: 42px;
        text-align: center;
        word-wrap: break-word;
        max-width: 100%;
        color: var(--primary);
    }
    .left div h1 span{
        font-size: 36px;
    }
    .left div p {
        font-size: 16px;
        text-align: center;
        max-width: 85%;
        word-wrap: break-word;
        padding-bottom: 8px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right .form-container {
        max-width: 100%;
        padding: 16px;
    }

    .right .form-container a {
        padding-top: 3px;
    }

    .right .form-container form {
        gap: 8px;
    }
}
.right .otp-msg{
    max-width: 100%;
    width: 600px;
    text-align: center;
    margin-bottom: 16px;
    
    word-wrap: break-word;
    font-size: 20px;
    color: var(--secondary);

}

.right .form-container form .line {
    width: 100%;
    height: 1px;
    background-color: var(--gray);

}

.right .form-container form button {
    font-weight: 600;
    font-size: 18px;
    background-color: var(--primary);

}

.right .form-container form .MuiToggleButtonGroup-root {
    width: 100%;
    background-color: var(--primary);
    margin-bottom: 8px;
}

.right .form-container form .MuiToggleButtonGroup-root.error  {
    border: solid 1px  #d32f2f9a;
    box-shadow: 0 0 6px #d32f2f;
}

.right .form-container form .gender button {
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    background-color: var(--primary);
}


.right .form-container form .gender  label {
    color: var(--secondary);
}

.right .form-container form .Mui-selected {
    background-color: #1c1c1c2b !important;
    color: #fff;
}

.right input:focus+fieldset {
    border-color: var(--primary) !important;
}

.right label.Mui-focused {

    color: var(--primary) !important;
}

.Mui-focused fieldset{
    border-color: var(--primary) !important;
}