.group_one{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    gap: 8px;
    width: 100%;
    height: 160px;
}


.group_two{
    width: 100%;
    display: flex;
    gap: 8px;
}

.group_one span{
    max-width: 160px;
    max-height: 160px;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}
.group_one .image_box{
    min-width: 160px;
    min-height: 160px;
    background-color: #1c1c1c17;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: relative;
    background-size: cover;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.407);
}

.group_one .image_box label{
    min-width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.group_one .image_box svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.group_one .image_box img{
    background-color: #1c1c1c2b;
    min-width: 160px;
    min-height: 160px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.group_one .image_box input{
    width: 100%;
    height: 100%;
}

.formcontrol_one{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.formcontrol{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    gap: 16px;
}

@media (max-width:900px) {
    .content{
        display: flex;
        gap: 86px;
        flex-direction: column;
    }

    .group_two{
        flex-direction: column;
    }
}