.content{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    padding: 6px 16px 80px 16px;
    overflow: auto;
}
.card{
    background: rgb(98,178,80);
    background: linear-gradient(90deg, rgba(98,178,80,1) 0%, rgba(89,163,72,1) 100%);
    width: 345px;
    max-width: 100%;
}


.card_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/*
Dashboard
*/
.dashboard_content{
    width: 100%;
    padding: 0 16px;  
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 16px;
    justify-content: center;
    align-items: center;

}

.box_info {
    width: 100%;
    height: 120px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    justify-self: center;
}

.box_info_two{
    width: 100%;
    height: 200px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    justify-self: center;
}

.box_info .box_info_title{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 8px;
}

@media screen and (max-width: 1500px) {
    .dashboard_content{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}