.content {
    width: 100%;
    height: 100%;
    background-color: var(--light);
    padding: 6px 16px;
    overflow: auto;
    padding-bottom: 132px;

}

.boxes {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}


.mySwiper {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_slide {
    width: 100%;
    padding: 16px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_slide div {
    display: block;
    margin: auto;
}



@media (max-width: 990px) {
    .parent{

        flex-direction: column-reverse;
    }
    .parent .actions_content{
        width: 100%;
    }
    .parent .form_content{

        width: 100%;

    }
}

.chart{
    width: 100%;
    height: 400px;
}