.card{
    background: rgb(98,178,80);
    background: linear-gradient(90deg, rgba(98,178,80,1) 0%, rgba(89,163,72,1) 100%);
    width: 345px;
    max-width: 100%;
}


.card_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/* ----------- Add fuel Manuele ----------- */
.fuel_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 280px;
    height: 100%;
    margin: auto;

}

.fuel_container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.form_control{
    margin-bottom: 16px !important;
    
}


.form_data{
    margin-bottom:12px !important;
}

.image_box_station{

    min-width: 82px;
    min-height: 82px;
    background-color: #1c1c1c17;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: relative;
    background-size: cover;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.407);
}

.image_box_station label{
    min-width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.image_box_station svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.image_box_station img{
    background-color: #1c1c1c2b;
    min-width: 82px;
    min-height: 82px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.image_box_station input{
    width: 100%;
    height: 100%;
}

.station_gps{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.354);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: var(--light);
    position: relative;
    margin-bottom: 32px;
}

.station_gps h6{
    position: absolute;
    top: 0;
    left: 50%;

    padding: 8px;
    z-index: 99999;
    color: var(--secondary);
    text-align: center;
    text-shadow: 0 0 6px #fff;
    font-weight: 600;
    backdrop-filter: blur(2px);
    width: 70%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}


.vehicule_box{
    width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.354);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: var(--light);
}


@media (max-width: 768px) {
    .station_gps h6{
        font-size: 14px;
    }
    .fuel_container{
        padding-bottom: 16px;
    }
}
    

