.content {
    width: 100%;
    height: 100%;
    background-color: var(--light);
    padding: 6px 16px;
    overflow: auto;
    padding-bottom: 82px;

}

.boxes {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}


.mySwiper {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_slide {
    width: 100%;
    padding: 16px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_slide div {
    display: block;
    margin: auto;
}


.parent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 16px ;
    gap: 16px;

    margin-bottom: 32px;
}



.parent .form_content{
    display: flex;
    justify-content: space-between;
   
    width: 70%;
}
.parent form{
    width: 100%;
}

.parent .formcontrol{
    width: 100% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}

.parent form button  {
    width: 100%;
    height: 52px;
    background-color: var(--primary) !important;
}


.parent form button:hover{
    background-color: var(--primary-dark);

}

.parent .actions_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 30%;

}
.parent .actions_content button{
    height: 52px;
}






@media (max-width: 990px) {
    .parent{

        flex-direction: column-reverse;
    }
    .parent .actions_content{
        width: 100%;
    }
    .parent .form_content{

        width: 100%;

    }
}