.content{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    padding-bottom: 100px;
    overflow: auto;
}


.profile_image_container{
    width: 100%;
    height: 380px;
    margin-top: -10px;
    padding-top: 3px;
    position: relative;
}



.profile_image_container .cover_image{
    width: 100%;
    height: 100%;
    background-color: #62b25000;
    
}


.profile_image_container .cover_image span{
    width: 100%;
    height: 380px;
    background-color: #59a348a1;
    top: 0;
    position: absolute;
  
}

.profile_image_container .profile_image{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(16%);
}
.upload_btn{
    background-color: #62b250 !important;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 78%;
    transform: translateY(16%);
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(16%);
    -ms-transform: translateY(16%);
    -o-transform: translateY(16%);
}
.profile_image_container .profile_image .img{
    box-shadow: 0px 0px 10px 0px  #1c1c1c3f;
    border: 2px solid #9b999953;
}


.profile_info{
    width: 100%;
    height: 50%;

    padding: 32px 40px;
}

.profile_info .actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.info_items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;

}
.separetor{
    height: 64px;
    width: 1px;
    background-color: #1c1c1c3f;
    margin: 0px 16px;
    
}

.info_items .info_item{
    display: flex;
    flex-direction: column;
}
.info_items .label{
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 2px;
}
/* 
    meduim screen 
*/
@media (max-width: 768px) {
   
    .profile_image_container .profile_image{
        transform: translate(-50%, 10%);
        left: 50%;
        -webkit-transform: translate(-50%, 10%);
        -moz-transform: translate(-50%, 10%);
        -ms-transform: translate(-50%, 10%);
        -o-transform: translate(-50%, 10%);
    }
    .profile_info{
        padding: 42px 20px;
        height: auto;
    }
    .profile_info .actions {
        justify-content: center;
        flex-direction: column;
    }
    .profile_info .actions button{
       width: 100%;
    }
    .info_items{
        flex-direction: column;
        align-items: center;
        gap: 16px;
        
    }
    .info_items .info_item{
        align-items: center;
        text-align: center;
    }
    .separetor{
        height: 1px;
        width: 64px;
        margin: 16px 0px;
    }
}