/* fonts ------------*/
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #62B250 !important;
  --primary-dark: #59a348 !important;
  --secondary: #1c1c1c !important;
  --dark: #0d0d0d !important;
  --light: rgb(245, 245, 245) !important;
  --gray: #ACACAC !important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;

}

#root{
  overflow: hidden;
}
::-webkit-scrollbar {
  width:4px;
  height: 6px;
  
}


/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #62b250a3;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;

}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #509241;
  width: 8px;
  height: 8px;
}

/* Map styles */
.leaflet-container {
  width: 100%;
  height: 350px;
}

a{
  text-decoration: none !important;
}
.Mui-selected  {
  background-color: #62b2504c !important;
  color: #62B250 !important;
 
}
.Mui-selected  span{

  font-weight: 600;
 
}

.Mui-selected svg {
  fill: #62B250;
 
}

.swiper-button-next,
.swiper-button-prev{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3.5px rgba(0, 0, 0, 0.464);
  width: 32px !important;
  height: 32px !important;
  font-weight: 900;
  border-radius: 50%;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  background-color: rgb(225, 225, 225) !important;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after{
  color: #62B250;
  display: flex;
  align-items: center;
  font-weight: 900;
  justify-content: center;
  transform: scale(.4);
  -webkit-transform: scale(.4);
  -moz-transform: scale(.4);
  -ms-transform: scale(.4);
  -o-transform: scale(.4);
}

label.Mui-focused {
  color: var(--primary) !important;
}


.MuiFilledInput-root::after{
  
  border-bottom-color: var(--primary) !important;
}

.MuiAutocomplete-option:hover {

  background-color: #59a34853 !important;
  font-weight: 400;
}

.css-gdh49b-MuiAutocomplete-listbox .MuiAutocomplete-option[aria-selected="true"] {
  background-color: #59a3487e !important;
  border-bottom: .5px solid #59a348 !important;
}

.MuiDialog-paperScrollPaper{
  box-shadow: none !important;
}
.MuiDataGrid-toolbarContainer button{
  color: var(--primary);
}

@media print {
  .MuiDataGrid-toolbarContainer{
    display: none !important;
  }
  .MuiDataGrid-footerContainer{
    display: none !important;
  }
}

.MuiSpeedDial-root button{
  background-color: var(--primary) !important;
}

.MuiDataGrid-toolbarFilterList{
  background-color: var(--primary) !important;
  color: var(--light) !important;
}
.MuiDataGrid-columnHeader--filtered{
  background-color: var(--primary) !important;
  color: var(--light) !important;
  font-weight: 600;

}

.MuiDataGrid-filterForm{


  display: flex;

  flex-direction: column;
  width:  100% !important;
}

.MuiDataGrid-filterForm div{
  width: 100%  !important;
  font-size: 16px !important;
  font-weight: 600 !important;
} 
.MuiDataGrid-filterFormDeleteIcon button{
  width: 100% !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}

.MuiDataGrid-filterForm div label{
  font-size: 16px !important;
  font-weight: 600 !important;
}

/* QrCode Reader */ 

#reader{
  position: relative;
  padding: 0px;
  border: 1px solid silver;
  margin: 12px;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#reader div:first-child img{
  display: none;
}

#html5-qrcode-button-camera-permission,
#html5-qrcode-button-file-selection{
  background-color: #2e7d32;
  outline: none;
  border: none;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#html5-qrcode-button-camera-permission:hover,
#html5-qrcode-button-file-selection:hover{
  cursor: pointer;
  background: #62B250;
}
/* .MuiSpeedDial-root{
  z-index: 9999 !important;
} */
.leaflet-popup-content-wrapper{
  width: fit-content !important;

}
.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
    position: relative;
    left: 2px;
    top: 0;
    display: block;
    width: 26px;
    height: 23px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAXCAYAAAAV1F8QAAABjUlEQVR4Ab1VA4h0URR+v23btv/8wtgKa9v2bp6wDOuwjpPdZG/mxs2b3eS359Q99eymerhH3/HlBEGw/WQymVPRaPR3JBLJwv81PVnbIADQBACC/OF5/rRrQGCwDo2Gw+F1juNOIC0QCNwhMFeA0DAzeCTnVVVVnWe8JadAmLJ3aAy+D9X4WlHZSVseDek40ot8jNwZkE4dTHddPB5/BQXei8ViH9Ejq0DY7qBfCvxCMBiMiW0QwHW1VkVgs0Agy+vZECtjux6wrsoSDc9GQFNTUyeJDjW6gjoA8F1sg8M0EQFCv0wpEIGnjYBAplqNLgL/ioecnpCcblG2wOg5ju0q9LyTBpIJ/WTetDmI6JAioknHwz5ONPvfxHmh3WWxRqg7RGeqEXn0V61joH4Vel0no//XsPFEPEfUAAvkFSzJc67PUbE3g9hQvlhAgt4VAekZcwxENyfk+L6KEzPIa2hoOOMYSBxVKBR6KYpkiG5VknMMRHOh8iwg3zUgerxe7yWsB27mX79+UbpsPcfWV8aO/4mmHgAAAABJRU5ErkJggg==);
}

.leaflet-routing-collapse-btn{

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 24px !important;
  height: 24px !important;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* .leaflet-popup-content-wrapper div {
  background: #1c1c1c;
} */

.leaflet-popup-content-wrapper div div{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.leaflet-popup-content-wrapper div div button{

  outline: none !important;
  border: none !important;
  padding: 4px 2px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  border-radius: 4px !important;
  color: #fff !important;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12) !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  background-color: #62B250 !important;
  width: 164px;
  height: 32px;
  cursor: pointer !important;
}

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #1c1c1c3f !important;
  box-shadow: inset 0 0 2px #1c1c1c87 !important;
  border: none;
  text-align: center;
  width: 24px;
  height: 24px;
  padding-top: 1px;
  font-size: 22px !important;
  font-weight: 400 !important;
  color: #000000 !important;
  text-decoration: none !important;
  border-radius: 50%  !important;
  -webkit-border-radius: 50%  !important;
  -moz-border-radius: 50%  !important;
  -ms-border-radius: 50%  !important;
  -o-border-radius: 50%  !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center   !important;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.leaflet-container a {
  -webkit-tap-highlight-color: transparent !important;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  background-color: #1c1c1ce9 !important;
  box-shadow: inset 0 0 3px #1c1c1c !important;
  color: #62B250 !important;
  rotate: 90deg;
}
.leaflet-routing-geocoder input{
  outline: none !important;
  border: 1.5px solid #1c1c1c53 !important;
  padding: 4px 2px !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}

.leaflet-routing-geocoder input:focus{
  border-color: #2e7d32 !important;
}
.leaflet-routing-geocoder-result{
  z-index: 9999999999999999 !important;
}

a[href^="https://leafletjs.com"]
{
  display: none !important;

}

.leaflet-control-attribution  {
  color:#62B250 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  background-color: #1c1c1c0a !important;
  box-shadow: inset 0 -3px 4px #1c1c1c52 !important;
  border-radius: 4px 0 4px 0px  !important;
  -webkit-border-radius: 4px 0 4px 0px  !important;
  -moz-border-radius: 4px 0 4px 0px  !important;
  -ms-border-radius: 4px 0 4px 0px  !important;
  -o-border-radius: 4px 0 4px 0px  !important;
}

.leaflet-control-attribution::before {
  content: "©" !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #62B250 !important;
  margin-right: 4px !important;
}