.content {
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: var(--light);
    overflow: auto;
}

.vehicule_info{
    display: flex;
    width: 100%;
    padding: 16px;
    gap: 16px;
    align-items: center;

}


.vehicule_data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.vehicule_data form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    
    justify-content: space-between;
    
}
.image_input{
    cursor: pointer;
    width: 74px;
    height: 74px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    opacity:0;
    z-index: 9999;
}
.swiper_slide:first-child svg{
    color: var(--primary);
    width: 32px;
    height: 32px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    opacity: 0;
}

.swiper_slide:first-child img{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.swiper_slide:first-child:hover svg{
    opacity: 1;
    color: var(--primary);
    width: 64px;
    height: 64px;
}

.image_icon{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.vehicule_data form .select{
    width: 220px;
}

.vehicule_data .form_control{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 110px;
}

@media (max-width:1250px) {
 
    .vehicule_info{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    .vehicule_data form{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
        justify-content: space-between;
       
        
    }

    .vehicule_data form .select{
        width: 220px !important;
    }
    

    .vehicule_data .form_control{
        flex-wrap: wrap;
        gap: 16px;
        font-display: row;
    }

    .vehicule_data .form_control div{
       width: 100%;
    }
}


@media (max-width:700px) {
 
    .vehicule_info{
        flex-wrap: wrap;
        justify-content: center;
    }

    .vehicule_data form{
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        
    }

    .vehicule_data form .select{
        width:100% !important;
    }

    .vehicule_data .form_control{
        flex-wrap: wrap;
        width: 100%;
    }

    .vehicule_data .form_control div{
        width: 100%;
    }
}

.mySwiper {
    max-width: 240px;
    max-height: 240px;
    overflow: hidden;
    margin: 0;

}

.swiper_slide {
    background-position: center;
    background-size: cover;
    width: 240px;
    height: 240px;
    display: grid;
    place-items: center;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.swiper_slide img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}