.profile_container{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 100%;
    min-width: 310px;
    height: 100%;
}
.profile_info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
}
.profile_name{
    text-transform: capitalize;
    
}

.profile_details{
    width: 370px;
    min-width: 310px;
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile_details_item{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
    padding-left: 16px;
}

/* 
    small   screen 
*/

@media (max-width: 425px) {
    .profile_details_item{
        width: 100%;
    }
    
    .profile_details{
        width: 100%;
    }
}